/* 
* {
    outline: 1px solid red;
} */

body {
    font-family       : Montserrat, sans-serif;
    letter-spacing    : 1.5px;
    background-color  : var(--color-bg);
    min-height        : 100vh;
    padding           : 1px;
}


.header {
    font-size: .8rem;
    margin-top: 1rem;
}


.header__content {
    height                 : 5rem;
    display                : flex;
    padding                : 0 2rem;
    justify-content        : space-between;
    align-items            : center;
    box-shadow             : 0px 25px 80px rgba(0, 0, 0, 0.15);
    border-radius          : .5rem;
    -webkit-border-radius  : .5rem;
    -moz-border-radius     : .5rem;
    -ms-border-radius      : .5rem;
    -o-border-radius       : .5rem;
    position               : relative;
    transition             : width 300ms;
    -webkit-transition     : width 300ms;
    -moz-transition        : width 300ms;
    -ms-transition         : width 300ms;
    -o-transition          : width 300ms;
}


.logo {
    display      : flex;
    align-items  : center;
}

.logo__img {
    width   : 56px;
    height  : 56px;
}

.logo__text {
    font-size: .8rem;
}

.nav {
    display: none;
}

.nav__content {
    align-items     : center;
    gap             : 1.5em;
    display         : flex;
}

.nav__item,
.nav__item--button {
    transition          : background-color 300ms;
    -webkit-transition  : background-color 300ms;
    -moz-transition     : background-color 300ms;
    -ms-transition      : background-color 300ms;
    -o-transition       : background-color 300ms;
}

.nav__item:not(:last-child):hover,
.nav__item:not(:last-child):hover {
    color   : var(--color-primary);
    cursor  : pointer;
    font-weight: 600;
}

.nav__item--button {
    font-size              : .85rem;
    border-radius          : 3rem;
    -webkit-border-radius  : 3rem;
    -moz-border-radius     : 3rem;
    -ms-border-radius      : 3rem;
    -o-border-radius       : 3rem;
    border                 : none;
    padding                : .4rem 1.5rem;
    background-color       : transparent;
    border                 : 1px solid var(--color-primary);
}

.nav__item--button:hover {
    cursor            : pointer;
    background-color  : var(--color-primary);
    color             : var(--color-bg);
}

/* ICON MENU
------------- */
.icon {
    position: relative;
    width     : 32px;
    height    : 32px;
}
.icon-menu {
    position  : absolute;
    inset     : 0;
}
.icon-menu:hover {
    cursor  : pointer;
    stroke  : var(--color-primary);
}


/* BREAKPOINTS
--------------- */
@media screen and (min-width: 960px) {
    .nav {
        display: block;
    }

    .icon {
        display: none;
    }
}