
.c-aside {
    --width: 5rem;

    padding : 0 .5rem;
    width   : 250px;
    position: fixed;
    height  : 100vh;
    top     : 0;
    left    : 0;
    z-index: 10;
    background-color: var(--primary-color-500);
    color           : var(--neutral-100);
    transform : translateX(-100%);
    transition: width 300ms, left 300ms, transform 300ms;

}

.c-aside__head {
    height       : 4rem;
    display      : flex;
    align-items  : center;
    position     : relative;
    margin-bottom: 1.5rem;
    font-weight     : 700;
    background-color: var(--primary-color-500);
}

.c-aside__text--highlight {
    color: var(--accent-color);
}

.c-aside__text {
    display: flex;
    align-items: center;
    transition: opacity .3s;
}

.c-aside__icon {
  min-width: calc(var(--width) - 1rem);
  color: var(--accent-color);
}

.c-aside__icon--collapse {
    background-color: var(--primary-color-500);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(50% + .5rem), -50%);
    display: none;
    cursor: pointer;
    z-index: 1;
}

.c-aside--visible {
    transform: translateX(0);
} 


@media screen and (min-width: 760px) {
    .c-aside {
        width: var(--width);
        transform: translate(0);
        width: 80px;
    }

    .c-aside__text {
        opacity: 0;
    }

    .c-aside__icon--collapse {
        display: grid;
    }

    .c-menu__icon {
        display: none;
    }
}



.c-aside--expand {
    width: 250px;
}

.c-aside--expand .c-tooltip {
    display: none;
}

.c-aside--expand .c-aside__text {
    opacity: 1;
}
