

.c-icon {
    font-size: 1.25rem;
    padding   : .5rem;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}

.c-icon--xs {
    font-size: .875rem;
}

.c-icon--md {
    font-size: 1.75rem;
}