.c-site-nav {
    height: calc(100% - 5.5rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /*Ocultar scroll para IE, Edge y Firefox*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/*Ocultar scroll para chrome, safari y opera*/
.c-site-nav::-webkit-scrollbar{
    display: none;
}

.c-site-nav__list {
    display       : flex;
    flex-direction: column;
    gap           : .5rem;
}

.c-site-nav__item {
    --primary-color-100: hsla(138, 100%, 94%, .1);
    font-weight        : 400;
    font-size          : .875rem;
    color              : hsla(0, 0%, 100%, 0.7);
    transition         : color 300ms;
    border-radius      : .25rem;
    display            : flex;
    align-items        : center;
    height             : 50px;
    position           : relative;
}

.c-site-nav__icon {
    min-width: 4rem;
    height: 100%;
}

.c-site-nav__icon--absolute {
    font-size: 1.5rem;
    position: absolute;
    cursor: pointer;
    right: 0;
    background-color: var(--primary-color-500);
}

.c-site-nav__item--active {
    color           : #FFFFFF;
    background-color: var(--primary-color-100);
}

.c-site-nav__item--active::before {
    content : '';
    position: absolute;
    width   : 3px;
    height  : 100%;
    top     : 0;
    left    : 0;
    background-color: #FFFFFF;
    border-top-left-radius   : .25rem;
    border-bottom-left-radius: .25rem;
}

.c-site-nav__item:not(.c-site-nav__item--active, .c-site-nav__item--switch):hover {
    color           : #FFFFFF;
    background-color: var(--primary-color-100);
}

.c-site-nav__item:hover .c-site-nav__tooltip {
    opacity: 1;
    transform: translate(10px, -50%);
}