

.c-tooltip {
    --shadow-color: hsla(142, 77%, 73%, .4);
    font-size: .875rem;
    padding  : .25rem 1rem;
    position : absolute;
    top      : 50%;
    left    : 90%;
    transform: translate(0, -50%);
    background-color: var(--primary-color-700);
    box-shadow: 0 0 15px 0 var(--shadow-color);
    color: white;
    z-index: 10;
    border-radius: .5rem;
    transition: transform .3s, opacity .3s;
    pointer-events: none;
    opacity: 0;
    display: none;
}

@media screen and (min-width: 760px) {
    .c-tooltip {
        display: block;
    }
}