
.t-light {
    --neutral-500: hsl(222, 47%, 11%);
    --neutral-300: hsl(215, 19%, 20%);
    --neutral-200: hsl(138, 50%, 94%);
    --neutral-100: hsl(138, 50%, 98%);

    --primary-color-700: hsl(142, 76%, 30%);
    --primary-color-500: hsl(142, 76%, 36%);
    --primary-color-300: hsl(142, 77%, 73%);
    --primary-color-200: hsl(142, 77%, 83%);
    --primary-color-100: hsl(138, 76%, 97%);

    --accent-color: hsl(45, 93%, 47%);   
}